<h1>Terms &amp; Conditions</h1>
<ul>
    <li>All the rights for the application are reserved by CardLess.</li>
    <li>Login Credentials of customer or individual should not be shared to anyone.</li>
    <li>Content and prices are available at the time of purchase.</li>
    <li>No refunds or exchanges are allowed and this digital card may not be used to purchase any other merchandise or allowances.</li>
    <li>Login details which will be provided have to be accurate and oblige under the Law.</li>
    <li>In Case of fraud or cheating of using the credit card or providing wrong information, the register bear's responsibility for this alone to prove the denial itself and Cardless have the right to cancel or block the account.</li>
    <li>CardLess is not responsible for any loss or damage resulting from lost or stolen cards or usage without your permission</li>
    <li>Your statutory rights are not affected by the above conditions</li>
    <li>Any issues in regards to redeeming code please contact customer care.</li>
</ul>
