<h1 dir="rtl">الشروط والأحكام</h1>
<ul dir="rtl">
    <li>جميع حقوق التطبيق محفوظة من قبل كاردليس.</li>
    <li>عدم مشاركة بيانات تسجيل الدخول الفرد او اعتماد العملاء لأي شخص.</li>
    <li>المحتوى وثمنه يكون مرهون أو متوفر وقت التحميل الفعلي.</li>
    <li>لا يمكن أعادة أو استرجاع البطاقات الرقمية مقابل مبلغ نقدي أو استبدالها أو استخدامها لشراء أي بضائع أخرى.</li>
    <li>جميع تفاصيل تسجيل الدخول التي سيتم توفيرها يجب أن تكون دقيقة ويلزم بموجب القانون.</li>
    <li>وفي حال التلاعب أو الغش عند استخدام بطاقة الائتمان او المعلومات المقدمة فأن المشترك يتحمل المسئولية عن ذلك بمفرده وعليه إثبات النفي بنفسه كما يحق لـ كاردليس الغاء أو تجميد حسابه.</li>
    <li>CardLess ليست مسؤوله عن أي خسارة أو ضرر ناتج عن البطاقات المفقودة أو المسروقة أو المستخدمة بدون علمك أو إذنك</li>
    <li>هذه الأحكام والشروط لا تؤثر على أي حق من حقوقك القانونية</li>
    <li>فيما يتعلق بمشاكل الشحن والكود الرقمي يرجي التواصل مع خدمة العملاء للاستفسار والمساعدة.</li>
</ul>

